
@media(max-width:1860px){
/* Seasonal area */
.right-curve {
    width: 30%;
    height: 180vh;
    border-radius: 0 600px 600px 0;
}

/* Love area */
.love-line{
	height: 136vh;
}







}

@media(max-width:1399px){

/* Seasonal area */
.right-curve {
    width: 30%;
    height: 186vh;
    border-radius: 0 600px 600px 0;
}

/* Love area */
.love-line{
		height: 145vh;
}



}

@media(max-width:1199px){

/* Seasonal area */
.right-curve {
    width: 30%;
    height: 210vh;
    border-radius: 0 600px 600px 0;
}
/* New section */
.new-left-one img,
.new-left-two img,
.new-right-one img,
.new-right-two img{
	margin: auto;
}
.new-left-two{
	left: 50px
}
.new-left{
	padding-top:0;
}
.new-right{
	padding-top: 0;
}





}

@media(max-width:991px){

.main-menu{
	position: absolute;
	background: #D10A47;
	top:100%;
	left: 0;
	width: 100%;
	display: none;
}
.main-menu ul{
	display: block;
}
.main-menu ul li a{
	padding: 7px 20px;
}
.menu-icon{
	display: flex;
	justify-content: flex-start;
}
.menu-icon i{
	font-size: 25px;
}
.menu-icon i.fa-times{
	display: none;
}

/* Seasonal area */
.right-curve {
   	display: none;
}
.seasonal-line{
	display: none;
}
.sesonal-photo img{
	margin: auto;
}

/* Holyday area */
.holiday-curve{
	display: none;
}
.holiday-text p{
	width: 100%;
}
.holiday-photo{
	padding: 50px 0;	
}

/* About area */
.middle-line img{
	display: none;
}
.about-text h1{
	padding: 50px 0;
}
.about-text p{
	padding: 30px 0;
}

/* Love area */
.love-line{
	display: none;
}
.love-text-left h2{
	padding-top: 100px;
}
.love-text-right{
	padding-top: 20px;
}
.love-text-left p{
	padding-bottom: 35px;
}
.one h4,.two h4,.three h4{
	padding-bottom: 40px;
}

/* New area */
.new-area{
	padding-top: 80px;
	padding-bottom: 90px;
}
.new-left-two{
	padding-bottom: 100px;
}

/* Footer area */
.footer-copyright{
	margin-left: 1%;
}




}

@media(max-width:768px){
/* Seasonal area */
.star-bottom img{
	display: none;
}
/* About area */
.top-star{
	display: none;
}

.bottom-star{
	display: none;
}
.about-text h6{
	padding-top: 70px;
}
.about-line{
	display: none;
}

/* Holyday area */
.holiday-bottom-star,
.holiday-top-star{
	display: none;
}
.holiday-curve{
	display: none;
}
.holiday-text h5{
	padding-top: 70px;
}

/* New area */
.circle-left  img,
.circle-right img{
	display: none;
}

/* Love area */
.love-star-one{
	display: none;
}
.love-star-two{
	display: none;
}

/* Made area */
.made-area{
	padding-bottom: 70px;
}
.made-curve-right{
	display: none;
}
.made-curve-left{
	display: none;
}
.made-text h1{
	padding: 30px 0;
}
.made-one{
	padding-top: 30px;
}
.made-three{
	padding-top: 70px;
}





}

@media(max-width:576px){

/* Footer area */
.footer-team{
	padding-bottom: 30px;
	text-align: center;
}
.footer-copyright{
	margin-left: 0;
	text-align: center;
}




}

@media(max-width:425px){

/* Holyday area */
.holiday-text h1{
	font-size: 70px;
}

/* About area */
.about-text h1{
	font-size: 70px;
}

/* Seasonal area */
.seasonal-text h1{
	font-size: 80px;
}




}